
.navbar {
    @apply   px-2 sm:px-4 py-2.5 flex  ml-60;

    &__input{
        @apply inline-flex ml-10 ;
          
        input{
            @apply bg-purple-50 p-2 border-none focus:outline-none focus:border-sky-50 focus:ring-1 focus:ring-sky-50 text-ellipsis overflow-hidden flex;
        }

        &__content{
            @apply  bg-purple-50 px-6  rounded-2xl ml-6 flex;
        }
    }

    &__img{
       @apply w-11  rounded-full float-right ;

       img{
        @apply rounded-full border-cyan-700
       }
    }

    &__sectionimg {
        @apply  flex flex-row-reverse flex-grow ;
    }

}

.fa-search{
    @apply my-3
}







