<nav class="navbar">

  <section>
    <span><i class="fa fa-bars" aria-hidden="true"></i></span>
    <div class="navbar__input">
      <span class="navbar__input__content">
        <input type="text" placeholder="Type here to Search">
        <span> <i class="fa fa-search" aria-hidden="true"></i></span>
      </span>

    </div>
  </section>

  <section class="navbar__sectionimg">
    <div class="navbar__img">
      <img alt="" src="/assets/image/userimg.jpg">
    </div>
  </section>
</nav>
