<nav class="sidebar">
  <a class="sidebar__brand" href="#"><img alt="" src="../assets/images/logook.png"></a>
  <ul class="sidebar__navbar">
    <li class="sidebar__navbar__item"><a href="#"><span class="sidebar__navbar__item__space"><i class="fa fa-th-large"
            aria-hidden="true"></i></span> Dashbaord</a></li>
    <li class="sidebar__navbar__item"><a href="#"><span class="sidebar__navbar__item__space"><i
            class="fa fa-graduation-cap" aria-hidden="true"></i> </span>Student</a></li>
    <li class="sidebar__navbar__item"><a href="#"><span class="sidebar__navbar__item__space"><i class="fa fa-male"
            aria-hidden="true"></i> </span> Teachers</a></li>
    <li class="sidebar__navbar__item"><a href="#"><span class="sidebar__navbar__item__space"><i class="fa fa-university"
            aria-hidden="true"></i> </span>Classes</a></li>
    <li class="sidebar__navbar__item"><a href="#"><span class="sidebar__navbar__item__space"><i class="fa fa-book"
            aria-hidden="true"></i></span> Library</a></li>
    <li class="sidebar__navbar__item"><a href="#"><span class="sidebar__navbar__item__space"><i class="fa fa-desktop"
            aria-hidden="true"></i></span> Computer Lab</a></li>
    <li class="sidebar__navbar__item"><a href="#"><span class="sidebar__navbar__item__space"><i class="fa fa-flask"
            aria-hidden="true"></i></span> Laboratory</a></li>
    <li class="sidebar__navbar__item"><a href="#"><span class="sidebar__navbar__item__space"><i class="fa fa-bus"
            aria-hidden="true"></i> </span>Transport</a></li>
    <li class="sidebar__navbar__item"><a href="#"><span class="sidebar__navbar__item__space"><i class="fa fa-female"
            aria-hidden="true"></i></span> Uniforms</a></li>
    <li class="sidebar__navbar__item"><a href="#"><span class="sidebar__navbar__item__space"><i class="fa fa-usd"
            aria-hidden="true"></i> </span>Student Fess</a></li>
    <li class="sidebar__navbar__item"><a href="#"><span class="sidebar__navbar__item__space"><i
            class="fa fa-pencil-square-o" aria-hidden="true"></i> </span>Exam Part</a></li>
    <li class="sidebar__navbar__item"><a href="#"><span class="sidebar__navbar__item__space"><i class="fa fa-money"
            aria-hidden="true"></i> </span>Salary s</a></li>
    <li class="sidebar__navbar__item"><a href="#"><span class="sidebar__navbar__item__space"><i class="fa fa-users"
            aria-hidden="true"></i></span> Staff Info</a></li>
    <li class="sidebar__navbar__item"><a href="#"><span class="sidebar__navbar__item__space"><i class="fa fa-user-o"
            aria-hidden="true"></i> </span>Users</a></li>
    <li class="sidebar__navbar__item"><a href="#"><span class="sidebar__navbar__item__space"><i class="fa fa-sign-out"
            aria-hidden="true"></i></span>Sign-Out</a></li>
  </ul>
</nav>
