.sidebar {
    @apply bg-white w-60 h-full rounded-l-3xl border-r fixed left-0 top-0 py-4;

    &__brand {
        img {
            @apply ml-7;
        }
    }

    &__navbar {
        &__item {
            @apply my-2;
        }

        &__item:hover {
            @apply my-2 border-l-4 border-sky-600;
        }

        &__item {
            a {
                @apply my-2 text-slate-800 px-8;
            }

            a:hover {
                @apply my-2 text-sky-600 px-8;
            }

            &__space {
                @apply pr-4;
            }
        }
    }
}